<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    {% block content %}{% endblock %}
</body>

<footer>
    No personal or secure data stored on or available via this tool. ONLY bacula logs.
    <br><a href="https://github.com/KenwoodFox/bacula-flask">Find the source code here!</a>
</footer>

</html>