{% extends "base.html" %}

{% block title %}Bacula Jobs{% endblock %}

{% block content %}
<h1>Bacula Job Status and History</h1>
<table border="2">
    <thead>
        <tr>
            <th>Job Name</th>
            <th>Total Job Bytes</th>
            <th>Last Job Status</th>
            <th>Last Run Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.name }}</td>
            <td
                style="background: linear-gradient(to right, yellow {{ job.percentage }}%, transparent {{ job.percentage }}%);">
                {{ job.total_bytes }}
            </td>
            <td class="{% if job.job_status != 'T' %}flashing-error{% endif %}">
                {{ job.job_status }}
            </td>
            <td>{{ job.formatted_time or "N/A" }}</td>
            <td><a href="/job/{{ job.name }}">View Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}