{% extends "base.html" %}

{% block title %}Job Details - {{ job_name }}{% endblock %}

{% block content %}
<h1>Job History for {{ job_name }}</h1>

<div class="back-link">
    <a href="{{ url_for('main.index') }}"><- Back</a>
</div>

<table border="2">
    <thead>
        <tr>
            <th>Job ID</th>
            <th>Start Time</th>
            <th>Level</th>
            <th>Files</th>
            <th>Bytes</th>
            <th>Status</th>
            <th>Volumes</th>
        </tr>
    </thead>
    <tbody>
        {% for job in job_history %}
        {% if job.time_skip %}
        <tr>
            <td colspan="7" style="text-align: center;">
                {{ job.skip_start }} ... {{ job.skip_end }} ({{ job.skipped_jobs }} empty jobs skipped)
            </td>
        </tr>
        {% else %}
        <tr>
            <td>{{ job.job_id }}</td>
            <td>{{ job.start_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td>{{ job.level }}</td>
            <td>{{ job.job_files }}</td>
            <td>{{ job.job_bytes }}</td>
            <td class="{% if job.job_status != 'T' %}flashing-error{% endif %}">
                {{ job.job_status }}
            </td>
            <td>
                {% for volume in job.volumes %}
                <a href="/volume/{{ volume }}">{{ volume }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}